.races {
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    font-size: 13px;    
    overflow-y: scroll;
}

.race {
    border-radius: 0.3rem;
    padding: 1rem;
    background: var(--silver);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    box-shadow: 0 0 1em var(--gray);
}

.race:hover {    
    box-shadow: 0 0 1em var(--black);
}

.raceData{
    display: flex;
    flex-direction: column;
}

.raceData>span:nth-of-type(1) {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--black);
}

.raceData>span:nth-of-type(2) {
    font-size: 1rem;
    color: var(--gray);
}

.raceData>span:nth-of-type(3) {
    font-style: italic;
    color: var(--gray);
}

.raceData>span:nth-of-type(4) {
    text-align: right;
}
.race>img {
    width: 25rem;
    border-bottom: 1px dotted var(--gray);
}
