:root {
  --red: #E10600;
  --black: #1F1F27;
  --gray: #7B7A78;
  --silver: #f7f4f1;
}

.App {
  font-family: 'Roboto', sans-serif;
  background-color: var(--red);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 99%;
  border-radius: 0.5rem;
  background-color: var(--silver);
  overflow: hidden;
  grid-template-columns: 11rem auto;
}